$orange-button-colour: #f96332;
$background-color: rgb(251,250, 249);
$background-grey: #f2f2f2;
$text-red: #ff3636;
$text-green: #63da38;

$white-button-text-colour: rgba(252, 137, 62, 0.9);

$grey: #b7b7b7;
$header-color: rgb(27, 31, 49);
$text-white: #fff;
$diver-color: rgba(34, 36, 38, 0.15);