@import "colours";
.calc-results {

  >.ui.segment {
    border-radius: 0;
    box-shadow: none;
  }

  .calc-results {
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    padding: 1em 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }

  .stickySummary {
    z-index: 1000;
  }

}

.summary {

  p.text {
    font-size: 14px;
    line-height: 21px;
  }

  .verdict, .value {
    font-weight: 700;
    color: $theme_colour;
  }

}

.summary-table {

  .close-btn {
    display: block;
    padding: 10px 0;
    color: $theme_colour_blue;
    cursor: pointer;
  }

}