@import "colours";

body {
  background-color: #f3f3f3;
}

.flatten {
  border-radius: 0;
  box-shadow: none;
}

.ui.vertical.menu {
  @extend .flatten;
}

.ui.segment, .ui.grid.segment, .ui.segments {
  @extend .flatten;
}

.ui.table {
  @extend .flatten;
}

.ui.cards {
  > .card {
    @extend .flatten;
  }
}

.ui.button, .ui.button.active {
  @extend .flatten;
}

.ui.form {
  input[type="text"], input[type="number"] {
    @extend .flatten;
  }

  .ui.label {
    @extend .flatten;
  }
}

.page {
  width: 100%;
  height: 100%;

  .top {
    width: 100%;
    height: 400px;
    background: $theme_colour;
    color: #FFF;

    .intro {
      padding: 20px 0;
      text-align: center;
      font-size: 2rem;
    }

    .text {
      font-size: 16px;
      line-height: 24px;
      width: 600px;
      margin: auto;
    }
  }
}