@import "semantic/globals/all";
@import "semantic/collections/grid";
@import "semantic/collections/segment";
@import "base";
@import "form";
@import "results";


#mainApp {
  width: 100%;
}

.calculator-content {
  position: relative;
  width: 100%;
}

.calculator {

  .adjustments {
    width: 750px;
    margin-left: auto;
  }

  .side-summary {
    width: 350px;
    margin-top: 50px !important;
    margin-right: auto;
  }

}